body {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.outline{
    outline: 2px solid red;
}


#mainTitle {
    color: white;
    background-color: black;
    padding: 1em 2em;
    border-radius: 0.5em;
}

.choicesContainer {
    width: 50vw;

    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.choiceCard {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    cursor: pointer;
    outline: 1px solid;
}

.choiceCard img {
    max-width: 100%;
    height: 70%;
    flex-grow: 2;
}

.choiceCard button{
    border: none;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 3vw;
    height: 30%;
    flex-grow: 1;
}

.displayBoard {
    align-self: flex-start;
}
